<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Feijão</td>
            <td>R$ 8,75</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Arroz</td>
            <td>R$ 4,99</td>
            <td>2</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
         <td>agua</td>
	<td>44</td>
	</tr>
    </tfoot>
</table>
